.top-wrapper
  .title
    font-size: 2.4rem
    margin: 20px 0 0 0
    @extend .fg-color-dark-blue-gray

  .subtitle
    font-size: 1.4rem
    margin: 5px 0 30px 0
    @extend .fg-color-light-blue-gray

  .avatar
    width: 60px
    height: 60px
    border-radius: 50%
    border: 4px solid $color-primary

  .download-resume-button
    border-radius: 25px
    font-size: 1.2rem
    border: 1px solid $color-white
    padding: 5px 10px
    @extend .bg-color-primary-action
    @extend .fg-white

    &:hover
      text-decoration: none
      box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1)
      @extend .fg-white

  .short-bio
    max-width: 476px
    margin: 20px auto
    @extend .small-font
    @extend .fg-color-light-blue-gray

@media (max-width: 720px)
  .short-bio
    padding: 0 20px
