<!--name and profession-->
<div class="row content-center">
  <div class="col-xs-12">
    <img src="../assets/images/avatar.jpg" alt="" class="avatar"/>

    <h3 class="title">{{ vm.name }}</h3>

    <p class="subtitle">{{ vm.professionalTitle }}</p>
    <a href="" class="download-resume-button">
      <i class="glyphicon glyphicon-download-alt"></i> Resume
    </a>
  </div>
</div>
<!--short bio-->
<div class="row content-center">
  <div class="col-xs-12">
    <p class="short-bio">
      {{ vm.shortBio }}
    </p>
  </div>
</div>