<div class="top-wrapper">
  <!--name and profession-->
  <div class="row content-center">
    <div class="col-xs-12">
      <img src="../assets/images/avatar.jpg" alt="" class="avatar"/>

      <h3 class="title">{{ vm.name }}</h3>

      <p class="subtitle">{{ vm.professionalTitle }}</p>
      <a ng-href="{{vm.resumeLink}}" target="_blank" class="button">Resume</a>
      &nbsp;
      <a ng-href="{{vm.portFolioLink}}" target="_blank" class="button">Design Portfolio</a>
    </div>
  </div>
  <!--short bio-->
  <div class="row content-center">
    <div class="col-xs-12">
      <p class="short-bio">
        {{ vm.shortBio }}
      </p>
    </div>
  </div>
</div>