.bg-green
  background: $color-primary

.bg-offwhite
  background: $color-off-white

.bg-white
  background: $color-white

.bg-color-primary-action
  background: $color-primary-action

.bg-color-dark-blue-gray
  background: $color-dark-blue-gray

.bg-color-light-blue-gray
  background: $color-light-blue-gray

.bg-violet-blue-gradient
  background-image: linear-gradient(-180deg, #BF55EC 0%, #52B3D9 100%)

.bg-green-blue-gradient
  background-image: linear-gradient(-180deg, #86E2D5 0%, #4B77BE 100%)