@import "colors"
@import "backgrounds"
@import "foregrounds"
@import "font_base"
@import "mixins"
@import "flex_blocks"

html
  font-size: 62.5%

body
  @extend .small-font

.wrap
  position: relative
  height: 100%
